div.Container
{	
	width: 600px;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	overflow:hidden;
	font-family: "trebuchet ms", verdana;
}

div.Header
{ 	
	height: 100px;
	background: #003366;
}

div.Center
{
	background: #ffffff;
	margin: 0 0 -120px 0;
	height: 100%;
}

div.Title
{
	float: left;
	width: 300px;
}

div.Topics
{
	float: left;
	width: 100px;	
}


div.Replies
{
	float: left;
	width: 100px;
}

div.LastPost
{
	float: left;
	width: 100px;
}





div.Footer
{
	height:20px;
	background:#cccc90;
	text-align: center;
}

html, body
{
	height: 100%;
	background: #cccccc;	
}



